@import './core.scss';

@media(min-width: 768px) {
 .exchange-api-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  } 
}

.exchange-input-box-container {
  padding: 1em;
}

.exchange-input-box-container-inner {
  background: $color-black;
  padding: 1em;
}

@media(min-width: 768px) {
  .exchange-input-box-container {
    width: 50%;
    max-width: 50%;
  }
}

.balances-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.balances-input-container .col-left {
  width: 80%;
}

.balances-input-container .col-right {
  background: $color-black;
  padding: 1em;
  margin-top: 1em;
  width: 20%;
}
