* {
  box-sizing: border-box;
}

body {
  padding: 1em;
  font-size: 1em;
}

h1,h2,h3,h4 {
  padding-top: 0;
  margin-top: 0;
}

h5 {
  text-decoration: underline;
}

label {
  font-size: .9em;
  display: block;
  padding-bottom: .5em;
}

input {
  width: 100%;
  padding: .5em;
  font-size: .9em;
  margin-bottom: 1em;
}

button {
  background: #51CA29;
  color: #000;
  padding: .75em 1em;
  font-size: 1em;
  appearance: none;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 0 none;
  transition: all .15s ease;
  font-weight: bold;
}

button:hover,
button:focus {
  background: #7be558;
  text-decoration: underline;
}

@media(min-width: 768px) {
  button {
    width: initial;
    font-size: .9em;
  }
}

button[disabled] {
  opacity: .6;
  cursor: default;
}

button[disabled]:hover,
button[disabled]:focus {
  background: #51CA29;
}


@media(min-width: 768px) {
 .exchange-api-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  } 
}

.exchange-input-box-container {
  padding: 1em;
}

.exchange-input-box-container-inner {
  background: #EEE;
  padding: 1em;
}

@media(min-width: 768px) {
  .exchange-input-box-container {
    width: 50%;
    max-width: 50%;
  }
}

.balances-input-container {
  display: flex;
  flex-direction: row;
}

.balances-input-container .col-left {
  width: 80%;
}

.balances-input-container .col-right {
  background: #EEE;
  padding: 1em;
  margin-top: 1em;
  width: 20%;
}
